@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdfffc;
}

@layer components {
  .btn-primary {
    @apply bg-apolus-blue hover:bg-apolus-blue/90 text-white font-semibold py-2 px-4 rounded-md transition-colors;
  }
  
  .input-field {
    @apply w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-apolus-blue;
  }
}
